<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-6">
        <!-- Logo ==================================================-->
        <div class="header__logo"><a href="{{ "index"|link }}"><img src="{{ theme_url }}/img/logo.png" alt="Типография Алеф"></a></div>
        <!-- ==================================================-->
      </div>
      <div class="col-md-2 col-md-push-8 col-sm-6 col-sm-push-0 col-xs-6 col-xs-push-0">
        <!-- Phone number ==================================================-->
        <div class="header__phone"><i class="icon--phone"></i><span>93-56-90</span></div>
        <!-- ==================================================-->
      </div>
      <div class="col-md-8 col-md-pull-2 col-sm-12 col-sm-pull-0 col-xs-12 col-xs-pull-0">
        <!-- Main menu ==================================================-->
        <div class="header__menu">
            <ul>
            
              <li><a href="{{ "isbn"|link }}">Идентификатор ISBN</a></li>
              <li><a href="{{ "publish"|link }}">Как издать книгу</a></li>
              <li><a href="{{ "calc"|link }}">Калькулятор</a></li>
              <li><a href="{{ "clients"|link }}">Клиентам</a></li>
              <li><a href="{{ "works"|link }}">Портфолио</a></li>
              <li><a href="{{ "contacts"|link }}">Контакты</a></li>

            </ul>
        </div>
        <!-- ==================================================-->
      </div>
    </div>
  </div>
</div>